$text-color: #000;
$headline-color: #e7e7e7;
$subtitle-color: #c1c1c1;
$white-color: #fff;
$bg-dark-violet-color: #5e42b0;
$menu-link-color: $bg-dark-violet-color;
$bg-dark-blue-color: #0a0e34;
$bg-light-grayish-color: #f6f4fa;
$footer-text: #a496ca;

$max-width: 1560px;

$font-stack: 'proximanova-ex', Arial, Verdana, Helvetica, sans-serif;